<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.oracle.DeptInfoMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.oracle.DeptInfo" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" />
    <result column="DEPT_CODE" property="deptCode" jdbcType="VARCHAR" />
    <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" />
    <result column="DEPT_SHORTNAME" property="deptShortname" jdbcType="VARCHAR" />
    <result column="DEPT_PARENTID" property="deptParentid" jdbcType="VARCHAR" />
    <result column="DEPT_AREA" property="deptArea" jdbcType="VARCHAR" />
    <result column="CATEGORY" property="category" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="MODIFY_ID" property="modifyId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="SYS_ID" property="sysId" jdbcType="VARCHAR" />
    <result column="DEPT_LEADER" property="deptLeader" jdbcType="VARCHAR" />
    <result column="DEPT_TYPE" property="deptType" jdbcType="VARCHAR" />
    <result column="DEPT_CHARGECODE" property="deptChargecode" jdbcType="VARCHAR" />
    <result column="IS_REVIEWDEPT" property="isReviewdept" jdbcType="VARCHAR" />
    <result column="DEPT_PHONE" property="deptPhone" jdbcType="VARCHAR" />
    <result column="DEPT_LOCATION" property="deptLocation" jdbcType="VARCHAR" />
    <result column="DEPT_WEBSITE" property="deptWebsite" jdbcType="VARCHAR" />
    <result column="DEPT_FUNCTION" property="deptFunction" jdbcType="VARCHAR" />
    <result column="DEPT_INNERCODE" property="deptInnercode" jdbcType="VARCHAR" />
    <result column="BUS_TYPE" property="busType" jdbcType="VARCHAR" />
    <result column="BUS_NAME" property="busName" jdbcType="VARCHAR" />
    <result column="IS_BOOKONLINE" property="isBookonline" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, DEPT_ID, DEPT_CODE, DEPT_NAME, DEPT_SHORTNAME, DEPT_PARENTID, DEPT_AREA, CATEGORY, 
    CREATE_TIME, CREATE_ID, MODIFY_TIME, MODIFY_ID, REMARK, STATE, SYS_ID, DEPT_LEADER, 
    DEPT_TYPE, DEPT_CHARGECODE, IS_REVIEWDEPT, DEPT_PHONE, DEPT_LOCATION, DEPT_WEBSITE, 
    DEPT_FUNCTION, DEPT_INNERCODE, BUS_TYPE, BUS_NAME, IS_BOOKONLINE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.oracle.DeptInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from TJ_DEPT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TJ_DEPT_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TJ_DEPT_INFO
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.oracle.DeptInfoExample" >
    delete from TJ_DEPT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.oracle.DeptInfo" >
    insert into TJ_DEPT_INFO (ID, DEPT_ID, DEPT_CODE, 
      DEPT_NAME, DEPT_SHORTNAME, DEPT_PARENTID, 
      DEPT_AREA, CATEGORY, CREATE_TIME, 
      CREATE_ID, MODIFY_TIME, MODIFY_ID, 
      REMARK, STATE, SYS_ID, 
      DEPT_LEADER, DEPT_TYPE, DEPT_CHARGECODE, 
      IS_REVIEWDEPT, DEPT_PHONE, DEPT_LOCATION, 
      DEPT_WEBSITE, DEPT_FUNCTION, DEPT_INNERCODE, 
      BUS_TYPE, BUS_NAME, IS_BOOKONLINE
      )
    values (#{id,jdbcType=DECIMAL}, #{deptId,jdbcType=VARCHAR}, #{deptCode,jdbcType=VARCHAR}, 
      #{deptName,jdbcType=VARCHAR}, #{deptShortname,jdbcType=VARCHAR}, #{deptParentid,jdbcType=VARCHAR}, 
      #{deptArea,jdbcType=VARCHAR}, #{category,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createId,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, #{modifyId,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, 
      #{deptLeader,jdbcType=VARCHAR}, #{deptType,jdbcType=VARCHAR}, #{deptChargecode,jdbcType=VARCHAR}, 
      #{isReviewdept,jdbcType=VARCHAR}, #{deptPhone,jdbcType=VARCHAR}, #{deptLocation,jdbcType=VARCHAR}, 
      #{deptWebsite,jdbcType=VARCHAR}, #{deptFunction,jdbcType=VARCHAR}, #{deptInnercode,jdbcType=VARCHAR}, 
      #{busType,jdbcType=VARCHAR}, #{busName,jdbcType=VARCHAR}, #{isBookonline,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.oracle.DeptInfo" >
    insert into TJ_DEPT_INFO
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="deptCode != null" >
        DEPT_CODE,
      </if>
      <if test="deptName != null" >
        DEPT_NAME,
      </if>
      <if test="deptShortname != null" >
        DEPT_SHORTNAME,
      </if>
      <if test="deptParentid != null" >
        DEPT_PARENTID,
      </if>
      <if test="deptArea != null" >
        DEPT_AREA,
      </if>
      <if test="category != null" >
        CATEGORY,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyId != null" >
        MODIFY_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="sysId != null" >
        SYS_ID,
      </if>
      <if test="deptLeader != null" >
        DEPT_LEADER,
      </if>
      <if test="deptType != null" >
        DEPT_TYPE,
      </if>
      <if test="deptChargecode != null" >
        DEPT_CHARGECODE,
      </if>
      <if test="isReviewdept != null" >
        IS_REVIEWDEPT,
      </if>
      <if test="deptPhone != null" >
        DEPT_PHONE,
      </if>
      <if test="deptLocation != null" >
        DEPT_LOCATION,
      </if>
      <if test="deptWebsite != null" >
        DEPT_WEBSITE,
      </if>
      <if test="deptFunction != null" >
        DEPT_FUNCTION,
      </if>
      <if test="deptInnercode != null" >
        DEPT_INNERCODE,
      </if>
      <if test="busType != null" >
        BUS_TYPE,
      </if>
      <if test="busName != null" >
        BUS_NAME,
      </if>
      <if test="isBookonline != null" >
        IS_BOOKONLINE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptShortname != null" >
        #{deptShortname,jdbcType=VARCHAR},
      </if>
      <if test="deptParentid != null" >
        #{deptParentid,jdbcType=VARCHAR},
      </if>
      <if test="deptArea != null" >
        #{deptArea,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="deptLeader != null" >
        #{deptLeader,jdbcType=VARCHAR},
      </if>
      <if test="deptType != null" >
        #{deptType,jdbcType=VARCHAR},
      </if>
      <if test="deptChargecode != null" >
        #{deptChargecode,jdbcType=VARCHAR},
      </if>
      <if test="isReviewdept != null" >
        #{isReviewdept,jdbcType=VARCHAR},
      </if>
      <if test="deptPhone != null" >
        #{deptPhone,jdbcType=VARCHAR},
      </if>
      <if test="deptLocation != null" >
        #{deptLocation,jdbcType=VARCHAR},
      </if>
      <if test="deptWebsite != null" >
        #{deptWebsite,jdbcType=VARCHAR},
      </if>
      <if test="deptFunction != null" >
        #{deptFunction,jdbcType=VARCHAR},
      </if>
      <if test="deptInnercode != null" >
        #{deptInnercode,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        #{busType,jdbcType=VARCHAR},
      </if>
      <if test="busName != null" >
        #{busName,jdbcType=VARCHAR},
      </if>
      <if test="isBookonline != null" >
        #{isBookonline,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.oracle.DeptInfoExample" resultType="java.lang.Integer" >
    select count(*) from TJ_DEPT_INFO
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TJ_DEPT_INFO
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptCode != null" >
        DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      </if>
      <if test="record.deptName != null" >
        DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      </if>
      <if test="record.deptShortname != null" >
        DEPT_SHORTNAME = #{record.deptShortname,jdbcType=VARCHAR},
      </if>
      <if test="record.deptParentid != null" >
        DEPT_PARENTID = #{record.deptParentid,jdbcType=VARCHAR},
      </if>
      <if test="record.deptArea != null" >
        DEPT_AREA = #{record.deptArea,jdbcType=VARCHAR},
      </if>
      <if test="record.category != null" >
        CATEGORY = #{record.category,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createId != null" >
        CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifyId != null" >
        MODIFY_ID = #{record.modifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.sysId != null" >
        SYS_ID = #{record.sysId,jdbcType=VARCHAR},
      </if>
      <if test="record.deptLeader != null" >
        DEPT_LEADER = #{record.deptLeader,jdbcType=VARCHAR},
      </if>
      <if test="record.deptType != null" >
        DEPT_TYPE = #{record.deptType,jdbcType=VARCHAR},
      </if>
      <if test="record.deptChargecode != null" >
        DEPT_CHARGECODE = #{record.deptChargecode,jdbcType=VARCHAR},
      </if>
      <if test="record.isReviewdept != null" >
        IS_REVIEWDEPT = #{record.isReviewdept,jdbcType=VARCHAR},
      </if>
      <if test="record.deptPhone != null" >
        DEPT_PHONE = #{record.deptPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.deptLocation != null" >
        DEPT_LOCATION = #{record.deptLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.deptWebsite != null" >
        DEPT_WEBSITE = #{record.deptWebsite,jdbcType=VARCHAR},
      </if>
      <if test="record.deptFunction != null" >
        DEPT_FUNCTION = #{record.deptFunction,jdbcType=VARCHAR},
      </if>
      <if test="record.deptInnercode != null" >
        DEPT_INNERCODE = #{record.deptInnercode,jdbcType=VARCHAR},
      </if>
      <if test="record.busType != null" >
        BUS_TYPE = #{record.busType,jdbcType=VARCHAR},
      </if>
      <if test="record.busName != null" >
        BUS_NAME = #{record.busName,jdbcType=VARCHAR},
      </if>
      <if test="record.isBookonline != null" >
        IS_BOOKONLINE = #{record.isBookonline,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TJ_DEPT_INFO
    set ID = #{record.id,jdbcType=DECIMAL},
      DEPT_ID = #{record.deptId,jdbcType=VARCHAR},
      DEPT_CODE = #{record.deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{record.deptName,jdbcType=VARCHAR},
      DEPT_SHORTNAME = #{record.deptShortname,jdbcType=VARCHAR},
      DEPT_PARENTID = #{record.deptParentid,jdbcType=VARCHAR},
      DEPT_AREA = #{record.deptArea,jdbcType=VARCHAR},
      CATEGORY = #{record.category,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=TIMESTAMP},
      MODIFY_ID = #{record.modifyId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      SYS_ID = #{record.sysId,jdbcType=VARCHAR},
      DEPT_LEADER = #{record.deptLeader,jdbcType=VARCHAR},
      DEPT_TYPE = #{record.deptType,jdbcType=VARCHAR},
      DEPT_CHARGECODE = #{record.deptChargecode,jdbcType=VARCHAR},
      IS_REVIEWDEPT = #{record.isReviewdept,jdbcType=VARCHAR},
      DEPT_PHONE = #{record.deptPhone,jdbcType=VARCHAR},
      DEPT_LOCATION = #{record.deptLocation,jdbcType=VARCHAR},
      DEPT_WEBSITE = #{record.deptWebsite,jdbcType=VARCHAR},
      DEPT_FUNCTION = #{record.deptFunction,jdbcType=VARCHAR},
      DEPT_INNERCODE = #{record.deptInnercode,jdbcType=VARCHAR},
      BUS_TYPE = #{record.busType,jdbcType=VARCHAR},
      BUS_NAME = #{record.busName,jdbcType=VARCHAR},
      IS_BOOKONLINE = #{record.isBookonline,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.oracle.DeptInfo" >
    update TJ_DEPT_INFO
    <set >
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="deptCode != null" >
        DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptName != null" >
        DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      </if>
      <if test="deptShortname != null" >
        DEPT_SHORTNAME = #{deptShortname,jdbcType=VARCHAR},
      </if>
      <if test="deptParentid != null" >
        DEPT_PARENTID = #{deptParentid,jdbcType=VARCHAR},
      </if>
      <if test="deptArea != null" >
        DEPT_AREA = #{deptArea,jdbcType=VARCHAR},
      </if>
      <if test="category != null" >
        CATEGORY = #{category,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyId != null" >
        MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null" >
        SYS_ID = #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="deptLeader != null" >
        DEPT_LEADER = #{deptLeader,jdbcType=VARCHAR},
      </if>
      <if test="deptType != null" >
        DEPT_TYPE = #{deptType,jdbcType=VARCHAR},
      </if>
      <if test="deptChargecode != null" >
        DEPT_CHARGECODE = #{deptChargecode,jdbcType=VARCHAR},
      </if>
      <if test="isReviewdept != null" >
        IS_REVIEWDEPT = #{isReviewdept,jdbcType=VARCHAR},
      </if>
      <if test="deptPhone != null" >
        DEPT_PHONE = #{deptPhone,jdbcType=VARCHAR},
      </if>
      <if test="deptLocation != null" >
        DEPT_LOCATION = #{deptLocation,jdbcType=VARCHAR},
      </if>
      <if test="deptWebsite != null" >
        DEPT_WEBSITE = #{deptWebsite,jdbcType=VARCHAR},
      </if>
      <if test="deptFunction != null" >
        DEPT_FUNCTION = #{deptFunction,jdbcType=VARCHAR},
      </if>
      <if test="deptInnercode != null" >
        DEPT_INNERCODE = #{deptInnercode,jdbcType=VARCHAR},
      </if>
      <if test="busType != null" >
        BUS_TYPE = #{busType,jdbcType=VARCHAR},
      </if>
      <if test="busName != null" >
        BUS_NAME = #{busName,jdbcType=VARCHAR},
      </if>
      <if test="isBookonline != null" >
        IS_BOOKONLINE = #{isBookonline,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.oracle.DeptInfo" >
    update TJ_DEPT_INFO
    set DEPT_ID = #{deptId,jdbcType=VARCHAR},
      DEPT_CODE = #{deptCode,jdbcType=VARCHAR},
      DEPT_NAME = #{deptName,jdbcType=VARCHAR},
      DEPT_SHORTNAME = #{deptShortname,jdbcType=VARCHAR},
      DEPT_PARENTID = #{deptParentid,jdbcType=VARCHAR},
      DEPT_AREA = #{deptArea,jdbcType=VARCHAR},
      CATEGORY = #{category,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      SYS_ID = #{sysId,jdbcType=VARCHAR},
      DEPT_LEADER = #{deptLeader,jdbcType=VARCHAR},
      DEPT_TYPE = #{deptType,jdbcType=VARCHAR},
      DEPT_CHARGECODE = #{deptChargecode,jdbcType=VARCHAR},
      IS_REVIEWDEPT = #{isReviewdept,jdbcType=VARCHAR},
      DEPT_PHONE = #{deptPhone,jdbcType=VARCHAR},
      DEPT_LOCATION = #{deptLocation,jdbcType=VARCHAR},
      DEPT_WEBSITE = #{deptWebsite,jdbcType=VARCHAR},
      DEPT_FUNCTION = #{deptFunction,jdbcType=VARCHAR},
      DEPT_INNERCODE = #{deptInnercode,jdbcType=VARCHAR},
      BUS_TYPE = #{busType,jdbcType=VARCHAR},
      BUS_NAME = #{busName,jdbcType=VARCHAR},
      IS_BOOKONLINE = #{isBookonline,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>