<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.oracle.MaterialItemMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.oracle.MaterialItem" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="MATERIAL_ID" property="materialId" jdbcType="VARCHAR" />
    <result column="MATERIAL_NAME" property="materialName" jdbcType="VARCHAR" />
    <result column="STANDARD_TYPE" property="standardType" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="CHAR" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="CHAR" />
    <result column="MODIFY_ID" property="modifyId" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="FORM_VERSION" property="formVersion" jdbcType="VARCHAR" />
    <result column="MATERIAL_MODELID" property="materialModelid" jdbcType="VARCHAR" />
    <result column="FORM_ID" property="formId" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
    <result column="ACTION_TYPE" property="actionType" jdbcType="VARCHAR" />
    <result column="EXCHANGE_STATE" property="exchangeState" jdbcType="VARCHAR" />
    <result column="MATERIAL_VALIDITY" property="materialValidity" jdbcType="VARCHAR" />
    <result column="EVENT_GROUP" property="eventGroup" jdbcType="VARCHAR" />
    <result column="TABLE_ID" property="tableId" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="FILL_ONLINE" property="fillOnline" jdbcType="VARCHAR" />
    <result column="MATERIALEMPTY_ID" property="materialemptyId" jdbcType="VARCHAR" />
    <result column="MATERIALEMPTY_NAME" property="materialemptyName" jdbcType="VARCHAR" />
    <result column="MATERIALMODEL_ID" property="materialmodelId" jdbcType="VARCHAR" />
    <result column="MATERIALMODEL_NAME" property="materialmodelName" jdbcType="VARCHAR" />
    <result column="DESCRIBE" property="describe" jdbcType="VARCHAR" />
    <result column="MATERIAL_SOURCE" property="materialSource" jdbcType="VARCHAR" />
    <result column="MATERIAL_LEVEL" property="materialLevel" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE" property="materialType" jdbcType="VARCHAR" />
    <result column="MATERIAL_POINT" property="materialPoint" jdbcType="VARCHAR" />
    <result column="IS_STANDARD" property="isStandard" jdbcType="VARCHAR" />
    <result column="IS_AGENCY" property="isAgency" jdbcType="VARCHAR" />
    <result column="FILLONLINE_MODELID" property="fillonlineModelid" jdbcType="VARCHAR" />
    <result column="FILLONLINE_MODELNAME" property="fillonlineModelname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, MATERIAL_ID, MATERIAL_NAME, STANDARD_TYPE, CREATE_TIME, CREATE_ID, MODIFY_TIME, 
    MODIFY_ID, REMARK, FORM_VERSION, MATERIAL_MODELID, FORM_ID, STATE, ACTION_TYPE, EXCHANGE_STATE, 
    MATERIAL_VALIDITY, EVENT_GROUP, TABLE_ID, TABLE_NAME, FILL_ONLINE, MATERIALEMPTY_ID, 
    MATERIALEMPTY_NAME, MATERIALMODEL_ID, MATERIALMODEL_NAME, DESCRIBE, MATERIAL_SOURCE, 
    MATERIAL_LEVEL, MATERIAL_TYPE, MATERIAL_POINT, IS_STANDARD, IS_AGENCY, FILLONLINE_MODELID, 
    FILLONLINE_MODELNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.oracle.MaterialItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from TJ_MATERIAL_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from TJ_MATERIAL_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from TJ_MATERIAL_ITEM
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.oracle.MaterialItemExample" >
    delete from TJ_MATERIAL_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.oracle.MaterialItem" >
    insert into TJ_MATERIAL_ITEM (ID, MATERIAL_ID, MATERIAL_NAME, 
      STANDARD_TYPE, CREATE_TIME, CREATE_ID, 
      MODIFY_TIME, MODIFY_ID, REMARK, 
      FORM_VERSION, MATERIAL_MODELID, FORM_ID, 
      STATE, ACTION_TYPE, EXCHANGE_STATE, 
      MATERIAL_VALIDITY, EVENT_GROUP, TABLE_ID, 
      TABLE_NAME, FILL_ONLINE, MATERIALEMPTY_ID, 
      MATERIALEMPTY_NAME, MATERIALMODEL_ID, MATERIALMODEL_NAME, 
      DESCRIBE, MATERIAL_SOURCE, MATERIAL_LEVEL, 
      MATERIAL_TYPE, MATERIAL_POINT, IS_STANDARD, 
      IS_AGENCY, FILLONLINE_MODELID, FILLONLINE_MODELNAME
      )
    values (#{id,jdbcType=DECIMAL}, #{materialId,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, 
      #{standardType,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR}, #{createId,jdbcType=VARCHAR}, 
      #{modifyTime,jdbcType=CHAR}, #{modifyId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{formVersion,jdbcType=VARCHAR}, #{materialModelid,jdbcType=VARCHAR}, #{formId,jdbcType=VARCHAR}, 
      #{state,jdbcType=VARCHAR}, #{actionType,jdbcType=VARCHAR}, #{exchangeState,jdbcType=VARCHAR}, 
      #{materialValidity,jdbcType=VARCHAR}, #{eventGroup,jdbcType=VARCHAR}, #{tableId,jdbcType=VARCHAR}, 
      #{tableName,jdbcType=VARCHAR}, #{fillOnline,jdbcType=VARCHAR}, #{materialemptyId,jdbcType=VARCHAR}, 
      #{materialemptyName,jdbcType=VARCHAR}, #{materialmodelId,jdbcType=VARCHAR}, #{materialmodelName,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{materialSource,jdbcType=VARCHAR}, #{materialLevel,jdbcType=VARCHAR}, 
      #{materialType,jdbcType=VARCHAR}, #{materialPoint,jdbcType=VARCHAR}, #{isStandard,jdbcType=VARCHAR}, 
      #{isAgency,jdbcType=VARCHAR}, #{fillonlineModelid,jdbcType=VARCHAR}, #{fillonlineModelname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.oracle.MaterialItem" >
    insert into TJ_MATERIAL_ITEM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="materialId != null" >
        MATERIAL_ID,
      </if>
      <if test="materialName != null" >
        MATERIAL_NAME,
      </if>
      <if test="standardType != null" >
        STANDARD_TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="modifyId != null" >
        MODIFY_ID,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="formVersion != null" >
        FORM_VERSION,
      </if>
      <if test="materialModelid != null" >
        MATERIAL_MODELID,
      </if>
      <if test="formId != null" >
        FORM_ID,
      </if>
      <if test="state != null" >
        STATE,
      </if>
      <if test="actionType != null" >
        ACTION_TYPE,
      </if>
      <if test="exchangeState != null" >
        EXCHANGE_STATE,
      </if>
      <if test="materialValidity != null" >
        MATERIAL_VALIDITY,
      </if>
      <if test="eventGroup != null" >
        EVENT_GROUP,
      </if>
      <if test="tableId != null" >
        TABLE_ID,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="fillOnline != null" >
        FILL_ONLINE,
      </if>
      <if test="materialemptyId != null" >
        MATERIALEMPTY_ID,
      </if>
      <if test="materialemptyName != null" >
        MATERIALEMPTY_NAME,
      </if>
      <if test="materialmodelId != null" >
        MATERIALMODEL_ID,
      </if>
      <if test="materialmodelName != null" >
        MATERIALMODEL_NAME,
      </if>
      <if test="describe != null" >
        DESCRIBE,
      </if>
      <if test="materialSource != null" >
        MATERIAL_SOURCE,
      </if>
      <if test="materialLevel != null" >
        MATERIAL_LEVEL,
      </if>
      <if test="materialType != null" >
        MATERIAL_TYPE,
      </if>
      <if test="materialPoint != null" >
        MATERIAL_POINT,
      </if>
      <if test="isStandard != null" >
        IS_STANDARD,
      </if>
      <if test="isAgency != null" >
        IS_AGENCY,
      </if>
      <if test="fillonlineModelid != null" >
        FILLONLINE_MODELID,
      </if>
      <if test="fillonlineModelname != null" >
        FILLONLINE_MODELNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null" >
        #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=CHAR},
      </if>
      <if test="modifyId != null" >
        #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="formVersion != null" >
        #{formVersion,jdbcType=VARCHAR},
      </if>
      <if test="materialModelid != null" >
        #{materialModelid,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null" >
        #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeState != null" >
        #{exchangeState,jdbcType=VARCHAR},
      </if>
      <if test="materialValidity != null" >
        #{materialValidity,jdbcType=VARCHAR},
      </if>
      <if test="eventGroup != null" >
        #{eventGroup,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null" >
        #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fillOnline != null" >
        #{fillOnline,jdbcType=VARCHAR},
      </if>
      <if test="materialemptyId != null" >
        #{materialemptyId,jdbcType=VARCHAR},
      </if>
      <if test="materialemptyName != null" >
        #{materialemptyName,jdbcType=VARCHAR},
      </if>
      <if test="materialmodelId != null" >
        #{materialmodelId,jdbcType=VARCHAR},
      </if>
      <if test="materialmodelName != null" >
        #{materialmodelName,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="materialLevel != null" >
        #{materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null" >
        #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialPoint != null" >
        #{materialPoint,jdbcType=VARCHAR},
      </if>
      <if test="isStandard != null" >
        #{isStandard,jdbcType=VARCHAR},
      </if>
      <if test="isAgency != null" >
        #{isAgency,jdbcType=VARCHAR},
      </if>
      <if test="fillonlineModelid != null" >
        #{fillonlineModelid,jdbcType=VARCHAR},
      </if>
      <if test="fillonlineModelname != null" >
        #{fillonlineModelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.oracle.MaterialItemExample" resultType="java.lang.Integer" >
    select count(*) from TJ_MATERIAL_ITEM
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TJ_MATERIAL_ITEM
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.materialId != null" >
        MATERIAL_ID = #{record.materialId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null" >
        MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.standardType != null" >
        STANDARD_TYPE = #{record.standardType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=CHAR},
      </if>
      <if test="record.createId != null" >
        CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      </if>
      <if test="record.modifyTime != null" >
        MODIFY_TIME = #{record.modifyTime,jdbcType=CHAR},
      </if>
      <if test="record.modifyId != null" >
        MODIFY_ID = #{record.modifyId,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null" >
        REMARK = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.formVersion != null" >
        FORM_VERSION = #{record.formVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.materialModelid != null" >
        MATERIAL_MODELID = #{record.materialModelid,jdbcType=VARCHAR},
      </if>
      <if test="record.formId != null" >
        FORM_ID = #{record.formId,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
      <if test="record.actionType != null" >
        ACTION_TYPE = #{record.actionType,jdbcType=VARCHAR},
      </if>
      <if test="record.exchangeState != null" >
        EXCHANGE_STATE = #{record.exchangeState,jdbcType=VARCHAR},
      </if>
      <if test="record.materialValidity != null" >
        MATERIAL_VALIDITY = #{record.materialValidity,jdbcType=VARCHAR},
      </if>
      <if test="record.eventGroup != null" >
        EVENT_GROUP = #{record.eventGroup,jdbcType=VARCHAR},
      </if>
      <if test="record.tableId != null" >
        TABLE_ID = #{record.tableId,jdbcType=VARCHAR},
      </if>
      <if test="record.tableName != null" >
        TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      </if>
      <if test="record.fillOnline != null" >
        FILL_ONLINE = #{record.fillOnline,jdbcType=VARCHAR},
      </if>
      <if test="record.materialemptyId != null" >
        MATERIALEMPTY_ID = #{record.materialemptyId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialemptyName != null" >
        MATERIALEMPTY_NAME = #{record.materialemptyName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialmodelId != null" >
        MATERIALMODEL_ID = #{record.materialmodelId,jdbcType=VARCHAR},
      </if>
      <if test="record.materialmodelName != null" >
        MATERIALMODEL_NAME = #{record.materialmodelName,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null" >
        DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.materialSource != null" >
        MATERIAL_SOURCE = #{record.materialSource,jdbcType=VARCHAR},
      </if>
      <if test="record.materialLevel != null" >
        MATERIAL_LEVEL = #{record.materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.materialType != null" >
        MATERIAL_TYPE = #{record.materialType,jdbcType=VARCHAR},
      </if>
      <if test="record.materialPoint != null" >
        MATERIAL_POINT = #{record.materialPoint,jdbcType=VARCHAR},
      </if>
      <if test="record.isStandard != null" >
        IS_STANDARD = #{record.isStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.isAgency != null" >
        IS_AGENCY = #{record.isAgency,jdbcType=VARCHAR},
      </if>
      <if test="record.fillonlineModelid != null" >
        FILLONLINE_MODELID = #{record.fillonlineModelid,jdbcType=VARCHAR},
      </if>
      <if test="record.fillonlineModelname != null" >
        FILLONLINE_MODELNAME = #{record.fillonlineModelname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TJ_MATERIAL_ITEM
    set ID = #{record.id,jdbcType=DECIMAL},
      MATERIAL_ID = #{record.materialId,jdbcType=VARCHAR},
      MATERIAL_NAME = #{record.materialName,jdbcType=VARCHAR},
      STANDARD_TYPE = #{record.standardType,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=CHAR},
      CREATE_ID = #{record.createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{record.modifyTime,jdbcType=CHAR},
      MODIFY_ID = #{record.modifyId,jdbcType=VARCHAR},
      REMARK = #{record.remark,jdbcType=VARCHAR},
      FORM_VERSION = #{record.formVersion,jdbcType=VARCHAR},
      MATERIAL_MODELID = #{record.materialModelid,jdbcType=VARCHAR},
      FORM_ID = #{record.formId,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR},
      ACTION_TYPE = #{record.actionType,jdbcType=VARCHAR},
      EXCHANGE_STATE = #{record.exchangeState,jdbcType=VARCHAR},
      MATERIAL_VALIDITY = #{record.materialValidity,jdbcType=VARCHAR},
      EVENT_GROUP = #{record.eventGroup,jdbcType=VARCHAR},
      TABLE_ID = #{record.tableId,jdbcType=VARCHAR},
      TABLE_NAME = #{record.tableName,jdbcType=VARCHAR},
      FILL_ONLINE = #{record.fillOnline,jdbcType=VARCHAR},
      MATERIALEMPTY_ID = #{record.materialemptyId,jdbcType=VARCHAR},
      MATERIALEMPTY_NAME = #{record.materialemptyName,jdbcType=VARCHAR},
      MATERIALMODEL_ID = #{record.materialmodelId,jdbcType=VARCHAR},
      MATERIALMODEL_NAME = #{record.materialmodelName,jdbcType=VARCHAR},
      DESCRIBE = #{record.describe,jdbcType=VARCHAR},
      MATERIAL_SOURCE = #{record.materialSource,jdbcType=VARCHAR},
      MATERIAL_LEVEL = #{record.materialLevel,jdbcType=VARCHAR},
      MATERIAL_TYPE = #{record.materialType,jdbcType=VARCHAR},
      MATERIAL_POINT = #{record.materialPoint,jdbcType=VARCHAR},
      IS_STANDARD = #{record.isStandard,jdbcType=VARCHAR},
      IS_AGENCY = #{record.isAgency,jdbcType=VARCHAR},
      FILLONLINE_MODELID = #{record.fillonlineModelid,jdbcType=VARCHAR},
      FILLONLINE_MODELNAME = #{record.fillonlineModelname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.oracle.MaterialItem" >
    update TJ_MATERIAL_ITEM
    <set >
      <if test="materialId != null" >
        MATERIAL_ID = #{materialId,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null" >
        MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="standardType != null" >
        STANDARD_TYPE = #{standardType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=CHAR},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=CHAR},
      </if>
      <if test="modifyId != null" >
        MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="formVersion != null" >
        FORM_VERSION = #{formVersion,jdbcType=VARCHAR},
      </if>
      <if test="materialModelid != null" >
        MATERIAL_MODELID = #{materialModelid,jdbcType=VARCHAR},
      </if>
      <if test="formId != null" >
        FORM_ID = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
      <if test="actionType != null" >
        ACTION_TYPE = #{actionType,jdbcType=VARCHAR},
      </if>
      <if test="exchangeState != null" >
        EXCHANGE_STATE = #{exchangeState,jdbcType=VARCHAR},
      </if>
      <if test="materialValidity != null" >
        MATERIAL_VALIDITY = #{materialValidity,jdbcType=VARCHAR},
      </if>
      <if test="eventGroup != null" >
        EVENT_GROUP = #{eventGroup,jdbcType=VARCHAR},
      </if>
      <if test="tableId != null" >
        TABLE_ID = #{tableId,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="fillOnline != null" >
        FILL_ONLINE = #{fillOnline,jdbcType=VARCHAR},
      </if>
      <if test="materialemptyId != null" >
        MATERIALEMPTY_ID = #{materialemptyId,jdbcType=VARCHAR},
      </if>
      <if test="materialemptyName != null" >
        MATERIALEMPTY_NAME = #{materialemptyName,jdbcType=VARCHAR},
      </if>
      <if test="materialmodelId != null" >
        MATERIALMODEL_ID = #{materialmodelId,jdbcType=VARCHAR},
      </if>
      <if test="materialmodelName != null" >
        MATERIALMODEL_NAME = #{materialmodelName,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        DESCRIBE = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        MATERIAL_SOURCE = #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="materialLevel != null" >
        MATERIAL_LEVEL = #{materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="materialType != null" >
        MATERIAL_TYPE = #{materialType,jdbcType=VARCHAR},
      </if>
      <if test="materialPoint != null" >
        MATERIAL_POINT = #{materialPoint,jdbcType=VARCHAR},
      </if>
      <if test="isStandard != null" >
        IS_STANDARD = #{isStandard,jdbcType=VARCHAR},
      </if>
      <if test="isAgency != null" >
        IS_AGENCY = #{isAgency,jdbcType=VARCHAR},
      </if>
      <if test="fillonlineModelid != null" >
        FILLONLINE_MODELID = #{fillonlineModelid,jdbcType=VARCHAR},
      </if>
      <if test="fillonlineModelname != null" >
        FILLONLINE_MODELNAME = #{fillonlineModelname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.oracle.MaterialItem" >
    update TJ_MATERIAL_ITEM
    set MATERIAL_ID = #{materialId,jdbcType=VARCHAR},
      MATERIAL_NAME = #{materialName,jdbcType=VARCHAR},
      STANDARD_TYPE = #{standardType,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=CHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=CHAR},
      MODIFY_ID = #{modifyId,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      FORM_VERSION = #{formVersion,jdbcType=VARCHAR},
      MATERIAL_MODELID = #{materialModelid,jdbcType=VARCHAR},
      FORM_ID = #{formId,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR},
      ACTION_TYPE = #{actionType,jdbcType=VARCHAR},
      EXCHANGE_STATE = #{exchangeState,jdbcType=VARCHAR},
      MATERIAL_VALIDITY = #{materialValidity,jdbcType=VARCHAR},
      EVENT_GROUP = #{eventGroup,jdbcType=VARCHAR},
      TABLE_ID = #{tableId,jdbcType=VARCHAR},
      TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      FILL_ONLINE = #{fillOnline,jdbcType=VARCHAR},
      MATERIALEMPTY_ID = #{materialemptyId,jdbcType=VARCHAR},
      MATERIALEMPTY_NAME = #{materialemptyName,jdbcType=VARCHAR},
      MATERIALMODEL_ID = #{materialmodelId,jdbcType=VARCHAR},
      MATERIALMODEL_NAME = #{materialmodelName,jdbcType=VARCHAR},
      DESCRIBE = #{describe,jdbcType=VARCHAR},
      MATERIAL_SOURCE = #{materialSource,jdbcType=VARCHAR},
      MATERIAL_LEVEL = #{materialLevel,jdbcType=VARCHAR},
      MATERIAL_TYPE = #{materialType,jdbcType=VARCHAR},
      MATERIAL_POINT = #{materialPoint,jdbcType=VARCHAR},
      IS_STANDARD = #{isStandard,jdbcType=VARCHAR},
      IS_AGENCY = #{isAgency,jdbcType=VARCHAR},
      FILLONLINE_MODELID = #{fillonlineModelid,jdbcType=VARCHAR},
      FILLONLINE_MODELNAME = #{fillonlineModelname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>