<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.oracle.MenuInformationMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.oracle.MenuInformation" >
    <id column="MATTER_ID" property="matterId" jdbcType="VARCHAR" />
    <result column="IMPLEMENT_ID" property="implementId" jdbcType="VARCHAR" />
    <result column="MATTER_TYPE" property="matterType" jdbcType="VARCHAR" />
    <result column="MATTER_NAME" property="matterName" jdbcType="VARCHAR" />
    <result column="MATTER_SUBNAME" property="matterSubname" jdbcType="VARCHAR" />
    <result column="HANDLE_ITEMS" property="handleItems" jdbcType="VARCHAR" />
    <result column="ONLY_ONE" property="onlyOne" jdbcType="VARCHAR" />
    <result column="SUBJECT_ID" property="subjectId" jdbcType="VARCHAR" />
    <result column="MATTER_VERSION" property="matterVersion" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="BUSINESS_DEPT" property="businessDept" jdbcType="VARCHAR" />
    <result column="STATE" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MATTER_ID, IMPLEMENT_ID, MATTER_TYPE, MATTER_NAME, MATTER_SUBNAME, HANDLE_ITEMS, 
    ONLY_ONE, SUBJECT_ID, MATTER_VERSION, CREATE_TIME, BUSINESS_DEPT, STATE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.oracle.MenuInformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from TJ_MENU_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TJ_MENU_INFORMATION
    where MATTER_ID = #{matterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TJ_MENU_INFORMATION
    where MATTER_ID = #{matterId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.oracle.MenuInformationExample" >
    delete from TJ_MENU_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.oracle.MenuInformation" >
    insert into TJ_MENU_INFORMATION (MATTER_ID, IMPLEMENT_ID, MATTER_TYPE, 
      MATTER_NAME, MATTER_SUBNAME, HANDLE_ITEMS, 
      ONLY_ONE, SUBJECT_ID, MATTER_VERSION, 
      CREATE_TIME, BUSINESS_DEPT, STATE
      )
    values (#{matterId,jdbcType=VARCHAR}, #{implementId,jdbcType=VARCHAR}, #{matterType,jdbcType=VARCHAR}, 
      #{matterName,jdbcType=VARCHAR}, #{matterSubname,jdbcType=VARCHAR}, #{handleItems,jdbcType=VARCHAR}, 
      #{onlyOne,jdbcType=VARCHAR}, #{subjectId,jdbcType=VARCHAR}, #{matterVersion,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{businessDept,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.oracle.MenuInformation" >
    insert into TJ_MENU_INFORMATION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="matterId != null" >
        MATTER_ID,
      </if>
      <if test="implementId != null" >
        IMPLEMENT_ID,
      </if>
      <if test="matterType != null" >
        MATTER_TYPE,
      </if>
      <if test="matterName != null" >
        MATTER_NAME,
      </if>
      <if test="matterSubname != null" >
        MATTER_SUBNAME,
      </if>
      <if test="handleItems != null" >
        HANDLE_ITEMS,
      </if>
      <if test="onlyOne != null" >
        ONLY_ONE,
      </if>
      <if test="subjectId != null" >
        SUBJECT_ID,
      </if>
      <if test="matterVersion != null" >
        MATTER_VERSION,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="businessDept != null" >
        BUSINESS_DEPT,
      </if>
      <if test="state != null" >
        STATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="matterId != null" >
        #{matterId,jdbcType=VARCHAR},
      </if>
      <if test="implementId != null" >
        #{implementId,jdbcType=VARCHAR},
      </if>
      <if test="matterType != null" >
        #{matterType,jdbcType=VARCHAR},
      </if>
      <if test="matterName != null" >
        #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="matterSubname != null" >
        #{matterSubname,jdbcType=VARCHAR},
      </if>
      <if test="handleItems != null" >
        #{handleItems,jdbcType=VARCHAR},
      </if>
      <if test="onlyOne != null" >
        #{onlyOne,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="matterVersion != null" >
        #{matterVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessDept != null" >
        #{businessDept,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.oracle.MenuInformationExample" resultType="java.lang.Integer" >
    select count(*) from TJ_MENU_INFORMATION
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TJ_MENU_INFORMATION
    <set >
      <if test="record.matterId != null" >
        MATTER_ID = #{record.matterId,jdbcType=VARCHAR},
      </if>
      <if test="record.implementId != null" >
        IMPLEMENT_ID = #{record.implementId,jdbcType=VARCHAR},
      </if>
      <if test="record.matterType != null" >
        MATTER_TYPE = #{record.matterType,jdbcType=VARCHAR},
      </if>
      <if test="record.matterName != null" >
        MATTER_NAME = #{record.matterName,jdbcType=VARCHAR},
      </if>
      <if test="record.matterSubname != null" >
        MATTER_SUBNAME = #{record.matterSubname,jdbcType=VARCHAR},
      </if>
      <if test="record.handleItems != null" >
        HANDLE_ITEMS = #{record.handleItems,jdbcType=VARCHAR},
      </if>
      <if test="record.onlyOne != null" >
        ONLY_ONE = #{record.onlyOne,jdbcType=VARCHAR},
      </if>
      <if test="record.subjectId != null" >
        SUBJECT_ID = #{record.subjectId,jdbcType=VARCHAR},
      </if>
      <if test="record.matterVersion != null" >
        MATTER_VERSION = #{record.matterVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.businessDept != null" >
        BUSINESS_DEPT = #{record.businessDept,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        STATE = #{record.state,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TJ_MENU_INFORMATION
    set MATTER_ID = #{record.matterId,jdbcType=VARCHAR},
      IMPLEMENT_ID = #{record.implementId,jdbcType=VARCHAR},
      MATTER_TYPE = #{record.matterType,jdbcType=VARCHAR},
      MATTER_NAME = #{record.matterName,jdbcType=VARCHAR},
      MATTER_SUBNAME = #{record.matterSubname,jdbcType=VARCHAR},
      HANDLE_ITEMS = #{record.handleItems,jdbcType=VARCHAR},
      ONLY_ONE = #{record.onlyOne,jdbcType=VARCHAR},
      SUBJECT_ID = #{record.subjectId,jdbcType=VARCHAR},
      MATTER_VERSION = #{record.matterVersion,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      BUSINESS_DEPT = #{record.businessDept,jdbcType=VARCHAR},
      STATE = #{record.state,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.oracle.MenuInformation" >
    update TJ_MENU_INFORMATION
    <set >
      <if test="implementId != null" >
        IMPLEMENT_ID = #{implementId,jdbcType=VARCHAR},
      </if>
      <if test="matterType != null" >
        MATTER_TYPE = #{matterType,jdbcType=VARCHAR},
      </if>
      <if test="matterName != null" >
        MATTER_NAME = #{matterName,jdbcType=VARCHAR},
      </if>
      <if test="matterSubname != null" >
        MATTER_SUBNAME = #{matterSubname,jdbcType=VARCHAR},
      </if>
      <if test="handleItems != null" >
        HANDLE_ITEMS = #{handleItems,jdbcType=VARCHAR},
      </if>
      <if test="onlyOne != null" >
        ONLY_ONE = #{onlyOne,jdbcType=VARCHAR},
      </if>
      <if test="subjectId != null" >
        SUBJECT_ID = #{subjectId,jdbcType=VARCHAR},
      </if>
      <if test="matterVersion != null" >
        MATTER_VERSION = #{matterVersion,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="businessDept != null" >
        BUSINESS_DEPT = #{businessDept,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        STATE = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where MATTER_ID = #{matterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.oracle.MenuInformation" >
    update TJ_MENU_INFORMATION
    set IMPLEMENT_ID = #{implementId,jdbcType=VARCHAR},
      MATTER_TYPE = #{matterType,jdbcType=VARCHAR},
      MATTER_NAME = #{matterName,jdbcType=VARCHAR},
      MATTER_SUBNAME = #{matterSubname,jdbcType=VARCHAR},
      HANDLE_ITEMS = #{handleItems,jdbcType=VARCHAR},
      ONLY_ONE = #{onlyOne,jdbcType=VARCHAR},
      SUBJECT_ID = #{subjectId,jdbcType=VARCHAR},
      MATTER_VERSION = #{matterVersion,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      BUSINESS_DEPT = #{businessDept,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=VARCHAR}
    where MATTER_ID = #{matterId,jdbcType=VARCHAR}
  </update>
</mapper>