<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.mysql.applicationMaterialsMapper" >
  <resultMap id="BaseResultMap" type="com.example.model.mysql.applicationMaterials" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="information_id" property="informationId" jdbcType="INTEGER" />
    <result column="material_name" property="materialName" jdbcType="VARCHAR" />
    <result column="material_level" property="materialLevel" jdbcType="VARCHAR" />
    <result column="material_properties" property="materialProperties" jdbcType="VARCHAR" />
    <result column="material_source" property="materialSource" jdbcType="VARCHAR" />
    <result column="material_preparation" property="materialPreparation" jdbcType="VARCHAR" />
    <result column="legal_basis" property="legalBasis" jdbcType="VARCHAR" />
    <result column="review_criteria" property="reviewCriteria" jdbcType="VARCHAR" />
    <result column="empty_table" property="emptyTable" jdbcType="VARCHAR" />
    <result column="sample_table" property="sampleTable" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, information_id, material_name, material_level, material_properties, material_source, 
    material_preparation, legal_basis, review_criteria, empty_table, sample_table
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.example.model.mysql.applicationMaterialsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from application_materials
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from application_materials
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from application_materials
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.example.model.mysql.applicationMaterialsExample" >
    delete from application_materials
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.example.model.mysql.applicationMaterials" >
    insert into application_materials (id, information_id, material_name, 
      material_level, material_properties, material_source, 
      material_preparation, legal_basis, review_criteria, 
      empty_table, sample_table)
    values (#{id,jdbcType=INTEGER}, #{informationId,jdbcType=INTEGER}, #{materialName,jdbcType=VARCHAR}, 
      #{materialLevel,jdbcType=VARCHAR}, #{materialProperties,jdbcType=VARCHAR}, #{materialSource,jdbcType=VARCHAR}, 
      #{materialPreparation,jdbcType=VARCHAR}, #{legalBasis,jdbcType=VARCHAR}, #{reviewCriteria,jdbcType=VARCHAR}, 
      #{emptyTable,jdbcType=VARCHAR}, #{sampleTable,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.model.mysql.applicationMaterials" >
    insert into application_materials
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="informationId != null" >
        information_id,
      </if>
      <if test="materialName != null" >
        material_name,
      </if>
      <if test="materialLevel != null" >
        material_level,
      </if>
      <if test="materialProperties != null" >
        material_properties,
      </if>
      <if test="materialSource != null" >
        material_source,
      </if>
      <if test="materialPreparation != null" >
        material_preparation,
      </if>
      <if test="legalBasis != null" >
        legal_basis,
      </if>
      <if test="reviewCriteria != null" >
        review_criteria,
      </if>
      <if test="emptyTable != null" >
        empty_table,
      </if>
      <if test="sampleTable != null" >
        sample_table,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="informationId != null" >
        #{informationId,jdbcType=INTEGER},
      </if>
      <if test="materialName != null" >
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialLevel != null" >
        #{materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="materialProperties != null" >
        #{materialProperties,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="materialPreparation != null" >
        #{materialPreparation,jdbcType=VARCHAR},
      </if>
      <if test="legalBasis != null" >
        #{legalBasis,jdbcType=VARCHAR},
      </if>
      <if test="reviewCriteria != null" >
        #{reviewCriteria,jdbcType=VARCHAR},
      </if>
      <if test="emptyTable != null" >
        #{emptyTable,jdbcType=VARCHAR},
      </if>
      <if test="sampleTable != null" >
        #{sampleTable,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.example.model.mysql.applicationMaterialsExample" resultType="java.lang.Integer" >
    select count(*) from application_materials
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update application_materials
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.informationId != null" >
        information_id = #{record.informationId,jdbcType=INTEGER},
      </if>
      <if test="record.materialName != null" >
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.materialLevel != null" >
        material_level = #{record.materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.materialProperties != null" >
        material_properties = #{record.materialProperties,jdbcType=VARCHAR},
      </if>
      <if test="record.materialSource != null" >
        material_source = #{record.materialSource,jdbcType=VARCHAR},
      </if>
      <if test="record.materialPreparation != null" >
        material_preparation = #{record.materialPreparation,jdbcType=VARCHAR},
      </if>
      <if test="record.legalBasis != null" >
        legal_basis = #{record.legalBasis,jdbcType=VARCHAR},
      </if>
      <if test="record.reviewCriteria != null" >
        review_criteria = #{record.reviewCriteria,jdbcType=VARCHAR},
      </if>
      <if test="record.emptyTable != null" >
        empty_table = #{record.emptyTable,jdbcType=VARCHAR},
      </if>
      <if test="record.sampleTable != null" >
        sample_table = #{record.sampleTable,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update application_materials
    set id = #{record.id,jdbcType=INTEGER},
      information_id = #{record.informationId,jdbcType=INTEGER},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      material_level = #{record.materialLevel,jdbcType=VARCHAR},
      material_properties = #{record.materialProperties,jdbcType=VARCHAR},
      material_source = #{record.materialSource,jdbcType=VARCHAR},
      material_preparation = #{record.materialPreparation,jdbcType=VARCHAR},
      legal_basis = #{record.legalBasis,jdbcType=VARCHAR},
      review_criteria = #{record.reviewCriteria,jdbcType=VARCHAR},
      empty_table = #{record.emptyTable,jdbcType=VARCHAR},
      sample_table = #{record.sampleTable,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.model.mysql.applicationMaterials" >
    update application_materials
    <set >
      <if test="informationId != null" >
        information_id = #{informationId,jdbcType=INTEGER},
      </if>
      <if test="materialName != null" >
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="materialLevel != null" >
        material_level = #{materialLevel,jdbcType=VARCHAR},
      </if>
      <if test="materialProperties != null" >
        material_properties = #{materialProperties,jdbcType=VARCHAR},
      </if>
      <if test="materialSource != null" >
        material_source = #{materialSource,jdbcType=VARCHAR},
      </if>
      <if test="materialPreparation != null" >
        material_preparation = #{materialPreparation,jdbcType=VARCHAR},
      </if>
      <if test="legalBasis != null" >
        legal_basis = #{legalBasis,jdbcType=VARCHAR},
      </if>
      <if test="reviewCriteria != null" >
        review_criteria = #{reviewCriteria,jdbcType=VARCHAR},
      </if>
      <if test="emptyTable != null" >
        empty_table = #{emptyTable,jdbcType=VARCHAR},
      </if>
      <if test="sampleTable != null" >
        sample_table = #{sampleTable,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.model.mysql.applicationMaterials" >
    update application_materials
    set information_id = #{informationId,jdbcType=INTEGER},
      material_name = #{materialName,jdbcType=VARCHAR},
      material_level = #{materialLevel,jdbcType=VARCHAR},
      material_properties = #{materialProperties,jdbcType=VARCHAR},
      material_source = #{materialSource,jdbcType=VARCHAR},
      material_preparation = #{materialPreparation,jdbcType=VARCHAR},
      legal_basis = #{legalBasis,jdbcType=VARCHAR},
      review_criteria = #{reviewCriteria,jdbcType=VARCHAR},
      empty_table = #{emptyTable,jdbcType=VARCHAR},
      sample_table = #{sampleTable,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>