<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        testFunction();
    </script>

</head>
<body>
<div class="showing">
    <table align='center' border='1' cellspacing='0'>
        <tr>
            <td>id</td>
            <td>name</td>
            <td>编辑</td>
            <td>删除</td>
        </tr>

        <tr th:each="info:${info}">
            <td th:text="${info.getId()}"></td>
            <td th:text="${info.getItemName()}"></td>
            <td></td>
        </tr>


    </table>

</div>

</body>

</html>