<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script>
        testFunction();
    </script>
</head>
<body>
<div class="showing">
    <table align='center' border='1' cellspacing='0'>
        <tr>
            <td>id</td>
            <td>ItemName</td>
            <td>ChildName</td>
            <td>BasicCoding</td>
        </tr>
        <tr th:each="info:${info}">
            <td th:text="${info.getId()}"></td>
            <td th:text="${info.getItemName()}"></td>
            <td th:text="${info.getChildName()}"></td>
            <td th:text="${info.getBasicCoding()}"></td>
            <td th:text="${info.getApprovalCategory()}"></td>
            <td></td>
        </tr>
    </table>
</div>
</body>
</html>